<app-show-list
        [title]="'filiales'"
        [iconTitle]="'fa fa-list'"
        [add]="false"
        [delete]="false"
        [edit] = "false"
        [custom]="custom"
        [customButtons]="custombuttons"
        (onCustomButtonClicked)="onCustomButton($event)"
        [filtre]="false"
        [fieldsForSearch]="fieldsForSearch"
        (filterChange)="getFiliales(null, $event)"
        [headers]="headers"
        [entities]="entities"
        [totalItems]="totalItems"
        [currentPage]="currentPage"
        [itemsPerPage]="itemsPerPage"
        (onDetailClicked)="onDetails($event)"
        (onExportDataClicked)="exporter(filtres)"
        (onPaginationClicked)="getFiliales($event, filtres)"
></app-show-list>
