.confirm-mouvement {
  ul {
    padding: 0;
    li {
      list-style: none;
      padding: 0.5em;
      border-bottom: 1px solid #eee;
      .libelle {
        font-weight: 500;
      }
      .valeur {
        float: right;
        font-style: italic;
        color: #888888;
      }
    }
  }
}
