@import "../../../../assets/sass/lbd/variables";

.x_panel {
  .x_title {
    h3 {
      color: $primary-color;
      margin-bottom: 2em;
      text-align: center;
      box-shadow: 0 1px 2px 0 #aaa;
      padding: 0.5em 0;
      font-weight: 400;
    }
  }

  .x_content {
    form {
      width: 600px;
      max-width: 90%;
      padding: 2em;
      background: white;
      box-shadow: 0 0 2px 0 #ccc;
      border-radius: 5px;
      margin: auto auto 2em;
    }
  }
}



::ng-deep .mat-raised-button.valide {
  background: $color-green;
  color: white;
  margin-left: 1em;
}
