<app-show-list
        [title]="'utilisateurs'"
        [iconTitle]="'fa fa-list'"
        [add]="false"
        [edit]="false"
        [delete]="false"
        [custom]="false"
        [filtre]="false"
        [isDialog]="isDialog"
        [fieldsForSearch]="fieldsForSearch"
        [fieldSForFiltre]="fieldsForFilter"
        [headers]="headers"
        [entities]="entities"
        [totalItems]="totalItems"
        [currentPage]="currentPage"
        [itemsPerPage]="itemsPerPage"
        (onDetailClicked)="onDetails($event)"
        (onEditClicked)="onEdit($event)"
        (onCloseDialogClicked)="onClose($event)"
        (onDeleteClicked)="onDelete($event)"
        (onPaginationClicked)="getUsers($event, filtres)"
        (filterChange)="getUsers(1, $event)"
></app-show-list>
