<app-show-list
        [title]="'profils frais'"
        [iconTitle]="'fa fa-list'"
        [add]="false"
        [headers]="headers"
        [filtre]="false"
        [fieldsForSearch]="fieldsForSearch"
        [fieldSForFiltre]="fieldsForFiltre"
        (filterChange)="getProfilFraiss(null, null, $event)"
        [entities]="entities"
        [totalItems]="totalItems"
        [currentPage]="currentPage"
        [itemsPerPage]="itemsPerPage"
        [customButtons]="custombuttons"
        (onCustomButtonClicked)="onCustomButton($event)"
        (onDetailClicked)="onDetails($event)"
        (onEditClicked)="onEdit($event)"
        (onDeleteClicked)="onDelete($event)"
        (onExportDataClicked)="exporter(filtres)"
        (onPaginationClicked)="getProfilFraiss($event, itemsPerPage, filtres)"
        (itemsPerPageChange)="getProfilFraiss(1, $event, filtres)"
></app-show-list>
