@import "../../../../assets/sass/lbd/variables";

.edit-entity {
  .x_title {
    // background: #eeeeee;
    // color: $secondary-color;
    // border-bottom: 2px solid $secondary-color;
    // border-radius: 3px;
    // padding-bottom: 0;
  }
  form {
    max-width: 100%;
    width: 100%;
    margin: auto;
    span.required {
      color: red;
    }

    .full-width {
      width: 100%;
    }
  }
}

::ng-deep .mat-raised-button.valide {
  background: $color-green;
  color: white;
  margin-left: 1em;
}

.danger {
  color: red;
  font-size: 10px;
}
