<div class="login_content">
  <div class="background">
    <img class="left" src="assets/img/businessWoman.jpg" alt="">
    <img class="right" src="assets/img/businessWoman.jpg" alt="">
  </div>
  <div class="login">
    <div>
      <div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content">
            <form [formGroup]="resetForm">
              <h1 class="connect"><span class="app">UPay Business</span> Réinitialiser votre mot de passe</h1>

              <div class="row login-form">
                <div class="error alert alert-danger" role="alert" *ngIf="message">
                  <i class="fa fa-warning"></i> {{ message }}
                </div>

                <div class="champs">
                  <input type="password" class="form-control" [(ngModel)]="password" formControlName="password" placeholder="Mot de passe" required />
                </div>
                <div class="champs">
                  <input type="password" class="form-control" [(ngModel)]="passwordConfirm" formControlName="passwordConfirm" placeholder="Confirmation du mot de passe" required />
                </div>
                <div class="champs submit">
                  <button [disabled]="!resetForm.valid" class="btn btn-default submit" (click)="onResetFinish();">Valider</button>
                </div>

                <div class="clearfix"></div>

                <div class="separator">
                  <div class="clearfix"></div>
                  <br />

                  <div class="copyright">
                    <a href="#/"><img src="assets/img/logo.png" alt=""></a>
                    <p>©2019 Tous droits réservés. UPay Business! backoffice.</p>
                  </div>
                </div>
              </div>
            </form>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
