<div class="souscription dialog">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
          <div class="x_title">
            <h2 *ngIf="data && data.title">{{ data.title }}</h2>
            <h2 *ngIf="!data || !data.title">Compléter votre souscription</h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <br>

            <app-formulaire-data [formulaireSlug]="'souscription'"
                                 (onFormChange)="onFormChange($event)"
            ></app-formulaire-data>
          </div>

          <div class="fermer col-md-12 col-sm-12 col-xs-12" style="text-align: right">
              <button mat-raised-button class="" (click)="onCancel()" style="margin-right: 0.5em">Annuler</button>
              <button mat-raised-button type="submit" class="valide" [disabled]="!globalForm.valid" (click)="onSubmit()">Valider</button>
          </div>
        </div>
    </div>
  </div>
</div>
