<app-show-list
        [title]="'configurations'"
        [iconTitle]="'fa fa-list'"
        [add]="entities.length == 0"
        [delete]="true"
        [edit]="true"
        [headers]="headers"
        [fieldsForSearch]="fieldsForSearch"
        [customButtons]="custombuttons"
        (onCustomButtonClicked)="onCustomButton($event)"
        (filterChange)="getAllConfiguration(null, $event)"
        [entities]="entities"
        [totalItems]="totalItems"
        [currentPage]="currentPage"
        [itemsPerPage]="itemsPerPage"
        (onDetailClicked)="onDetails($event)"
        (onEditClicked)="onEdit($event)"
        (onDeleteClicked)="onDelete($event)"
        (onExportDataClicked)="exporter(filtres)"
        (onPaginationClicked)="getAllConfiguration($event, filtres)"
></app-show-list>
