<app-show-list
        [title]="'mouvements'"
        [iconTitle]="'fa fa-list'"
        [add]="true"
        [delete]="false"
        [filtre]="true"
        [customButtons]="custombuttons"
        (onCustomButtonClicked)="onCustomButton($event)"
        [fieldsForSearch]="fieldsForSearch"
        [fieldSForFiltre]="fieldsForFilter"
        (filterChange)="getMouvements(null, $event)"
        [headers]="headers"
        [entities]="entities"
        [totalItems]="totalItems"
        [currentPage]="currentPage"
        [itemsPerPage]="itemsPerPage"
        (onDetailClicked)="onDetails($event)"
        (onEditClicked)="onEdit($event)"
        (onDeleteClicked)="onDelete($event)"
        (onExportDataClicked)="exporter(filters)"
        (onPaginationClicked)="getMouvements($event)"
></app-show-list>
