<app-show-list
        [title]="'types canaux'"
        [iconTitle]="'fa fa-list'"
        [add]="true"
        [delete]="false"
        [headers]="headers"
        [customButtons]="custombuttons"
        (onCustomButtonClicked)="onCustomButton($event)"
        [filtre]="false"
        [fieldsForSearch]="fieldsForSearch"
        [fieldSForFiltre]="fieldsForFiltre"
        (filterChange)="getTypeCanals(null, $event)"
        [entities]="entities"
        [totalItems]="totalItems"
        [currentPage]="currentPage"
        [itemsPerPage]="itemsPerPage"
        (onDetailClicked)="onDetails($event)"
        (onEditClicked)="onEdit($event)"
        (onDeleteClicked)="onDelete($event)"
        (onExportDataClicked)="exporter(filtres)"
        (onPaginationClicked)="getTypeCanals($event, filtres)"
></app-show-list>
