<div class="souscription dialog">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
          <div class="x_title">
            <h2>Activation de la souscription</h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <br>
              Votre souscription n'est pas encore active. Merci de patienter pour l'activation.
          </div>

          <div class="fermer col-md-12 col-sm-12 col-xs-12" style="text-align: right">
              <button mat-raised-button class="" (click)="onCancel()" style="margin-right: 0.5em">Fermer</button>
          </div>
        </div>
    </div>
  </div>
</div>
