<app-show-list
        [title]="'campagnes'"
        [iconTitle]="'fa fa-list'"
        [add]="false"
        [edit]="false"
        [delete]="false"
        [filtre]="true"
        [fieldsForSearch]="fieldsForSearch"
        [fieldSForFiltre]="fieldsForFilter"
        [customButtons]="custombuttons"
        (onCustomButtonClicked)="onCustomButton($event)"
        (filterChange)="getCampagnes(null, null, $event)"
        [headers]="headers"
        [entities]="entities"
        [totalItems]="totalItems"
        [currentPage]="currentPage"
        [itemsPerPage]="itemsPerPage"
        (onDetailClicked)="onDetails($event)"
        (onEditClicked)="onEdit($event)"
        (onDeleteClicked)="onDelete($event)"
        (onExportDataClicked)="exporter(filtres)"
        (onPaginationClicked)="getCampagnes($event, itemsPerPage, filtres)"
        (itemsPerPageChange)="getCampagnes(1, $event, filtres)"
></app-show-list>
