<app-show-list
          [title]="'canaux de réception'"
          [iconTitle]="'fa fa-list'"
          [add]="true"
          [delete]="false"
          [filtre]="false"
          [isDialog]="isDialog"
          [fieldsForSearch]="fieldsForSearch"
          [fieldSForFiltre]="fieldsForFilter"
          [customButtons]="custombuttons"
          (onCustomButtonClicked)="onCustomButton($event)"
          (filterChange)="getCanals(null, $event)"
          [headers]="headers"
          [entities]="entities"
          [totalItems]="totalItems"
          [currentPage]="currentPage"
          [itemsPerPage]="itemsPerPage"
          (onCloseDialogClicked)="onClose($event)"
          (onDetailClicked)="onDetails($event)"
          (onEditClicked)="onEdit($event)"
          (onDeleteClicked)="onDelete($event)"
          (onExportDataClicked)="exporter(filtres)"
          (onPaginationClicked)="getCanals($event, filtres)"
  ></app-show-list>
