<app-show-list
        [title]="'détails campagnes'"
        [iconTitle]="'fa fa-list'"
        [add]="false"
        [edit]="false"
        [delete]="false"
        [custom]="false"
        [filtre]="false"
        [isDialog]="isDialog"
        [fieldsForSearch]="fieldsForSearch"
        [fieldSForFiltre]="fieldsForFilter"
        [headers]="headers"
        [entities]="entities"
        [totalItems]="totalItems"
        [currentPage]="currentPage"
        [itemsPerPage]="itemsPerPage"
        (onDetailClicked)="onDetails($event)"
        (onEditClicked)="onEdit($event)"
        (onDeleteClicked)="onDelete($event)"
        (onCloseDialogClicked)="onClose($event)"
        (onPaginationClicked)="getDetailCampagnes($event, itemsPerPage, campagne, filtres)"
        (filterChange)="getDetailCampagnes(1, 10000, campagne, $event)"
        (itemsPerPageChange)="getDetailCampagnes(1, $event, campagne, filtres)"
></app-show-list>
