<app-show-list
        [title]="'détails campagne'"
        [iconTitle]="'fa fa-list'"
        [add]="false"
        [delete]="false"
        [edit]="false"
        [custom]="false"
        [filtre]="true"
        [fieldsForSearch]="fieldsForSearch"
        [fieldSForFiltre]="fieldsForFilter"
        [headers]="headers"
        [entities]="entities"
        [isDialog]="isDialog"
        [totalItems]="totalItems"
        [currentPage]="currentPage"
        [itemsPerPage]="itemsPerPage"
        [customButtons]="custombuttons"
        (onCustomButtonClicked)="onCustomButton($event)"
        (onDetailClicked)="onDetails($event)"
        (onEditClicked)="onEdit($event)"
        (onDeleteClicked)="onDelete($event)"
        (onCloseDialogClicked)="close()"
        (onExportDataClicked)="getAllDetailCampagnes(campagne, filtres)"
        (onPaginationClicked)="getDetailCampagnes($event, itemsPerPage, campagne, filtres)"
        (itemsPerPageChange)="getDetailCampagnes(1, $event, campagne, filtres)"
        (filterChange)="getDetailCampagnes(null, null, campagne, $event)"
></app-show-list>
