<div class="confirm-delete">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>{{ title }}</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <br>
          <p>{{ message }}</p>

          <ul>
            <li *ngFor="let field of fields">
              <span class="libelle">{{ field.label }}</span>
              <span class="valeur">{{ field.valeur }}</span>
            </li>
          </ul>

          <div class="ln_solid"></div>

          <div class="fermer col-md-12 col-sm-12 col-xs-12" style="text-align: right">
            <button mat-raised-button type="button" class="" (click)="closeDialog({canceled: true})">{{ cancelBtn }}</button>
            <button mat-raised-button type="button" class="valide" (click)="closeDialog({canceled: false})">{{ confirmBtn }}</button>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
