<div class="confirm-delete">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Annulation</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <br>
          <p>Vous allez annuler le mouvement suivant :</p>

          <ul>
            <li>
              <span class="libelle">Référence</span>
              <span class="valeur">{{ mouvement.reference }}</span>
            </li>
            <li>
              <span class="libelle">Montant</span>
              <span class="valeur">{{ montant }}</span>
            </li>
            <li>
              <span class="libelle">Type mouvement</span>
              <span class="valeur">{{ mouvement.type }}</span>
            </li>
            <li>
              <span class="libelle">Code partenaire</span>
              <span class="valeur">{{ codePartenaire }}</span>
            </li>
            <li>
              <span class="libelle">Partenaire</span>
              <span class="valeur">{{ partenaire }}</span>
            </li>
          </ul>

          <div class="ln_solid"></div>

          <div class="fermer col-md-12 col-sm-12 col-xs-12" style="text-align: right">
            <button mat-raised-button type="button" class="" (click)="closeDialog({canceled: true})">Annuler</button>
            <button mat-raised-button type="button" class="valide" (click)="closeDialog({canceled: false})">Confirmer</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
